.navbar {
    margin-top: 5vh;
    padding: 0;
    display: flex;
    
    box-sizing: border-box;
    justify-content: space-around;
}

a {
    color: black;
    font-size: large;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
    font-size: x-large;
    color:royalblue
    
    
}